nimble.develop
nimble.paths
nimbledeps
config.nims

tests/certs/

async_postgres/*
!async_postgres/*.*
async_postgres/pg_types/*
!async_postgres/pg_types/*.*

tests/*
!tests/*.*

examples/*
!examples/*.*

async_postgres.out
